<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.okayjam.web.dao.TbTestDao">

    <resultMap type="com.okayjam.web.entity.TbTest" id="TbTestMap">
        <result property="id" column="id" jdbcType="BIGINT"/>
        <result property="key" column="key" jdbcType="VARCHAR"/>
        <result property="value" column="value" jdbcType="VARCHAR"/>
        <result property="amt" column="amt" jdbcType="NUMERIC"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">  `id`
    , `key`, `value`, `amt`, `status`, `create_time`, `update_time` </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="TbTestMap">
        select
        <include refid="Base_Column_List"/>

        from tb_test
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="TbTestMap">
        select
        <include refid="Base_Column_List"/>

        from tb_test
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="TbTestMap">
        select
        <include refid="Base_Column_List"/>

        from tb_test
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="key != null and key != ''">
                and key = #{key}
            </if>
            <if test="value != null and value != ''">
                and value = #{value}
            </if>
            <if test="amt != null">
                and amt = #{amt}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into tb_test(`key`, `value`, `amt`, `status`, `create_time`, `update_time`)
        values (#{key}, #{value}, #{amt}, #{status}, now(), now())
    </insert>

    <insert id="insertBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_test(`key`, `value`, `amt`, `status`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.key}, #{entity.value}, #{entity.amt}, #{entity.status}, now(), now())
        </foreach>
    </insert>

    <insert id="insertOrUpdateBatch" keyProperty="id" useGeneratedKeys="true">
        insert into tb_test(`key`, `value`, `amt`, `status`, `create_time`, `update_time`)
        values
        <foreach collection="entities" item="entity" separator=",">
            (#{entity.key}, #{entity.value}, #{entity.amt}, #{entity.status}, now(), now())
        </foreach>
        on duplicate key update
        key = values(key) , value = values(value) , amt = values(amt) , status = values(status) , create_time =
        values(create_time) , update_time = values(update_time)
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update tb_test
        <set>
            <if test="key != null and key != ''">
                `key` = #{key},
            </if>
            <if test="value != null and value != ''">
                `value` = #{value},
            </if>
            <if test="amt != null">
                `amt` = #{amt},
            </if>
            <if test="status != null">
                `status` = #{status},
            </if>
            <if test="createTime != null">
                `create_time` = #{createTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from tb_test
        where id = #{id}
    </delete>

</mapper>

