mybatis:
  mapper-locations: classpath*:mapper/*.xml
  configuration:
    map-underscore-to-camel-case: true
  type.alias-package: com.okayjam.web.dao

pagehelper:
  helperDialect: mysql
  reasonable: true
  supportMethodsArguments: true
  params: count=countSql

spring:
  datasource:
    hikari:
      max-lifetime: 1800000
      maximum-pool-size: 20
      minimum-idle: 5